html, body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

/*----- Your Own Crew -----*/
#main-crew {
  /*Border for testing only*/
  /*border: 1px dashed red;*/
  min-height: 800px;
  position: relative;
}

#crew-text-box {
  position: absolute;
  margin-right: 5%;
  left: 40%;
  margin-top: 25%;
}

.crew-header {
  font-size: 60px;
  text-transform: uppercase;
  margin: auto;
  line-height: 100%;
}

.crew-subtext {
  font-size: 20px;
  font-weight: 300;
  line-height: 150%;
}

/*----- Image Bottom of Main -----*/
#main-img-bottom {
  margin: 0;
  padding-top: 7%;
  min-height: 450px;
  background-color: red;
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
}

.img-header {
  text-transform: uppercase;
  margin: auto;
  text-align: center;
  color: #ffffff;
  font-size: 60px;
  font-weight: 300;
}

.img-subtext {
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 28px;
  font-weight: 300;
  margin-top: 15px;
}

/*----- Testimonials Section -----*/
.testimonials {
  /*Border for testing only
  border: 1px dashed red;*/

  min-height: 225px;
  margin-top: 50px;
  margin-left: 15%;
  margin-right: 15%;
  position: relative;
  overflow: hidden;
}

.testimonials-img-container {
  width: 200px;
  height: 200px;
  background-size: cover;
  display: block;
  z-index: -1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.testimonials-img-1 {
  background-image: url('img/testimonial-img-1.png');
}

.testimonials-img-2 {
  background-image: url('img/testimonial-img-2.png');
}

.testimonials-img-3 {
  background-image: url('img/testimonial-img-3.png');
}

.testimonials-img-4 {
  background-image: url('img/testimonial-img-4.png');
}

.testimonials-img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
}

.testimonials-quote {
  font-weight: 300;
  position: absolute;
  top: 45px;
  left: 190px;
  font-size: 20px;
  line-height: 150%;
}

.testimonials-name{
  font-weight: 300;
  font-style: italic;
  color: #e72a32;
  line-height: 45px;
}

/*------ Responsive Design ---------*/

@media (max-width: 800px) {

  /*----- Your Own Crew - RESPONSIVE - 800-----*/
  #main-crew {
    /*Border for testing only*/
    /*border: 1px dashed blue;*/
    min-height: 700px;
  }

  .crew-header {
    font-size: 50px;
  }

  .crew-subtext {
    font-size: 18px;
  }

  /*----- Image Bottom of Main RESPONSIVE - 800-----*/
  #main-img-bottom {
    min-height: 350px;
  }

  .img-header {
    font-size: 50px;
  }

  .img-subtext {
    font-size: 24px;
    margin-top: 10px;
  }

  /*----- Testimonials - RESPONSIVE - 800-----*/
  .testimonials {
    /*Border for testing only*/
    /*border: 1px dashed blue;*/

    min-height: 200px;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
  }

  .testimonials-img-container {
    width: 175px;
    height: 175px;
  }

  .testimonials-quote {
    font-weight: 300;
    position: absolute;
    top: 35px;
    left: 170px;
    font-size: 18px;
    line-height: 125%;
  }
}

@media (max-width: 600px) {

  /*----- Your Own Crew - RESPONSIVE - 600-----*/
  #main-crew {
    /*Border for testing only*/
    /*border: 1px dashed yellow;*/
    min-height: 500px;
  }

  .crew-header {
    font-size: 30px;
  }

  .crew-subtext {
    font-size: 16px;
  }

  /*----- Image Bottom of Main RESPONSIVE - 600-----*/
  #main-img-bottom {
    min-height: 225px;
  }

  .img-header {
    font-size: 30px;
  }

  .img-subtext {
    font-size: 16px;
    margin-top: 5px;
  }

  /*----- Testimonials - RESPONSIVE - 600-----*/
  .testimonials {
    /*Border for testing only*/
    /*border: 1px dashed purple;*/

    min-height: 200px;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
  }

  .testimonials-img-container {
    width: 150px;
    height: 150px;
  }

  .testimonials-quote {
    font-weight: 300;
    position: absolute;
    top: 25px;
    left: 140px;
    font-size: 16px;
    line-height: 120%;
  }
}
